<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930625099034-ip0ukthu5nbtmh3o5pc5g2fjqltktt48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930625099034-ip0ukthu5nbtmh3o5pc5g2fjqltktt48</string>
	<key>API_KEY</key>
	<string>AIzaSyAEL72AReUxK4xXLtWOazY73PMeyVcX58o</string>
	<key>GCM_SENDER_ID</key>
	<string>930625099034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.murali.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-220df</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-220df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930625099034:ios:fa154399612573bbdd88a3</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-220df.firebaseio.com</string>
</dict>
</plist>